@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Pacifico&family=Poppins:wght@400;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  margin-bottom: -20px;
}

.font-heavy {
  font-weight: 800;
}

.font-accent_primary {
  font-family: "Pacifico", cursive;
}

.font-accent_secondary {
  font-family: "Cormorant", serif;
}

.font-large {
  font-size: 60px;
}
.font-medium {
  font-size: 24px;
}
.font-small {
  font-size: 20px;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 25%;
  left: 4%;
  z-index: 1;
}
.midlay-text {
  position: absolute;
  top: 25%;
  left: 4%;
  opacity: 10%;
  font-size: 90px;
  text-shadow: 5px 5px rgba(0, 0, 0, 1);
}

@media (max-width: 749px) {
  .SM {
    display: block !important;
  }
  .MD {
    display: none !important;
  }
}
@media (min-width: 750px) {
  .SM {
    display: none !important;
  }
  .MD {
    display: flex !important;
  }
}
