.priceCard {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
.priceCard section {
  justify-self: start;
}
.priceCard .underlayText {
  font-size: 115px;
  position: absolute;
  z-index: 1;
  top: -5%;
  left: 0%;
  color: rgba(255, 255, 255, 0.5);
}
.priceCard:nth-child(n + 2) .underlayText {
  letter-spacing: -6px;
}
.priceCard .scooterImg {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.priceDetails .scooterTitle {
  font-size: 16px;
}
.priceCard .priceDetails {
  color: white;
}
.priceCard .pricingTable thead {
  color: black;
}
.pricingTable thead th {
  font-weight: normal;
  font-size: 16px;
}
.pricingTable th,
.pricingTable td {
  padding-right: 23px;
}

.slideDownRight {
  -webkit-animation: slideDownRight 3s forwards 1;
  animation: slideDownRight 3s forwards 1;
}

@media (min-width: 950px) {
  .priceCard .underlayText {
    font-size: 85px;
  }
}

@media (min-width: 1300px) {
  .priceCard .underlayText {
    font-size: 115px;
  }
}

@keyframes slideDownRight {
  0% {
    transform: translate(-350px, -100px);
  }
  100% {
    transform: translate(-40px, 0);
  }
}
