.pricingContainer {
  display: grid;
  position: relative;
  padding: 70px 4%;
  gap: 100px;
}
.pricingContainer::after {
  position: absolute;
  z-index: -20;
  background-color: darkorange;
  content: "";
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

@media (min-width: 950px) {
  .pricingContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  .pricingContainer::after {
    height: 100%;
  }
}
