header {
  display: flex;
  padding: 1% 4%;
  align-items: center;
  position: fixed;
  top: 0;
  width: 92%;
  overflow: hidden;
  background-color: rgba(201, 194, 177, 0);
  transition: all 0.5s;
}
.header_scrolled {
  background-color: white;
}
.nav-main {
  display: grid;
  margin-left: auto !important;
  text-transform: uppercase;
  padding: 5px;
}
