@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Pacifico&family=Poppins:wght@400;800&display=swap");

.app-opening {
  animation: 4s fadeAway forwards;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  margin-bottom: -20px;
}

.font-heavy {
  font-weight: 800;
}

.font-accent_primary {
  font-family: "Pacifico", cursive;
}

.font-accent_secondary {
  font-family: "Cormorant", serif;
}

.font-large {
  font-size: 60px;
}
.font-medium {
  font-size: 24px;
}
.font-small {
  font-size: 20px;
}

.pageBreak {
  opacity: 0;
  margin-bottom: 50px;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 25%;
  left: 4%;
  z-index: 1;
}
.midlay-text {
  position: absolute;
  top: 25%;
  left: 4%;
  opacity: 10%;
  font-size: 90px;
  text-shadow: 5px 5px rgba(0, 0, 0, 1);
}

/*   Main Page Components   */

.destinationsContainer {
  padding: 4% 15%;
}

.slideLeft {
  -webkit-animation: slideLeft 2s forwards 1;
  animation: slideLeft 2s forwards 1;
}

.slideDownRight {
  -webkit-animation: slideDownRight 2s forwards 1;
  animation: slideDownRight 2s forwards 1;
}

/***    Media Queries    ***/
@media (max-width: 749px) {
  .SM {
    display: grid !important;
  }
  .MD,
  .MD-flex {
    display: none !important;
  }
}
@media (min-width: 750px) {
  .SM {
    display: none !important;
  }
  .MD {
    display: grid !important;
  }
  .MD-flex {
    display: flex !important;
  }
  .destinationsContainer {
    padding: 4%;
  }
}

/***    Animations    ***/
@keyframes slideDownRight {
  0% {
    transform: translate(-350px, -100px);
  }
  100% {
    transform: translate(-40px, 0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translate(350px, 0px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes fadeAway {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
    z-index: -2147483647;
  }
}
